<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <title>files</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <ul>
    <li th:each="id : ${filelist}">
      <p th:text="|${id}.pdf|"></p>
      <a th:href="@{/pdf/ui/{id}(id=${id})}">pdf editor</a>
      <a th:href="@{/api/pdf2img/{id}(id=${id})}">backend pdf2img</a>
      <a th:href="@{/api/subimage/{id}(id=${id})}">backend subimage</a>
      <a th:href="@{/api/aiocr/{id}(id=${id})}">backend ocr</a>
    </li>
  </ul>
</body>

</html>