<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <title>ui</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script defer th:src="@{/js/index.bundle.js}"></script>
  <script type="module" th:inline="javascript">
    const domContainer = document.getElementById('pdfContainer');
    const template = /*[[${template}]]*/{};
    const inputs = /*[[${inputs}]]*/[];
    new Form({ template: { basePdf: BLANK_PDF, ...template }, inputs, domContainer });
  </script>
</head>

<body>
  hello!
  <div id="pdfContainer"></div>
</body>

</html>